@font-face {
    font-family: 'Groovy';
    src: url('Groovy-Regular.eot');
    src: local('Groovy Regular'), local('Groovy-Regular'),
        url('Groovy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Groovy-Regular.woff2') format('woff2'),
        url('Groovy-Regular.woff') format('woff'),
        url('Groovy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

